<h4> Hello user!! Thank you for shopping.You order is proccessed successfully.</h4>
<h4>We are working on to provide you the requested products with in a short time.</h4>
<h4>Please select the my orders page to view your order details.</h4>
<h3>THANK YOU</h3>
<div style="margin-top: 20px;">
    <h5> please click the button to go to my orders page
    <a
routerLink="/my/orders"
class="btn btn-primary">My Orders</a></h5>
</div>
<div style="margin-top: 20px;">
    <h5> please click the button to go to home page
    <a
routerLink="/"
class="btn btn-primary">Home page</a></h5>
</div>